In [1]:
import tensorflow as tf

gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  # Restrict TensorFlow to only allocate 1*X GB of memory on the first GPU
    try:
        tf.config.experimental.set_virtual_device_configuration(
            gpus[0],
            [tf.config.experimental.VirtualDeviceConfiguration(memory_limit=(1024*4))])
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPUs")
    except RuntimeError as e:
    # Virtual devices must be set before GPUs have been initialized
        print(e)

1 Physical GPUs, 1 Logical GPUs

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import cv2

from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, Flatten, Dropout, MaxPooling2D, BatchNormalization
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import tensorflow as tf

In [2]:
df_test = pd.read_csv("test_vc2kHdQ.csv")

In [3]:
df_test

    image_names
0      1960.jpg
1       668.jpg
2      2082.jpg
3       808.jpg
4      1907.jpg
..          ...
701     674.jpg
702    1027.jpg
703     447.jpg
704    2176.jpg
705    1014.jpg

[706 rows x 1 columns]

In [4]:
model = tf.keras.models.load_model("model_03.h5")

In [5]:
test_datagen = ImageDataGenerator(rescale=1./255)

In [6]:
TARGET_SIZE = 122
BATCH_SIZE = 124

In [7]:
testing_data = test_datagen.flow_from_dataframe(dataframe = df_test,
                                            directory = "images/",
                                            x_col="image_names",
                                            y_col = None,
                                            target_size=(TARGET_SIZE,TARGET_SIZE),
                                            batch_size=BATCH_SIZE,
                                            shuffle= False,
                                            subset="training",
                                            class_mode = None)

Found 706 validated image filenames.

In [8]:
pred=model.predict_generator(testing_data,verbose=1)

6/6 [==============================] - 34s 6s/step

In [9]:
predicted_class_indices=np.argmax(pred,axis=1)

In [10]:
df_test["emergency_or_not"] = [k for k in predicted_class_indices]

In [11]:
df_test.to_csv("solution_03.csv")